<!-- START Header Style 1 -->
<mat-toolbar class="br-header shadow">
  <mat-toolbar-row class="br-header-white justify-content-between align-items-center">
    <span>
      <a aria-label="broadridge logo" href="#">
        <img src="assets/images/br-logo-blue.svg" alt="broadridge blue logo" width="160">
      </a>
  </span>
  <span class="spacer"></span>
  <span style="padding-right: 10px;" *ngIf="isAuthentic">
    <span >Welcome {{userName}}</span>
    <button mat-button color="primary" class="ml-3" (click)="logout()">Logout <mat-icon>logout</mat-icon></button>
  </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="br-header-blue justify-content-between align-items-center">
  </mat-toolbar-row>
</mat-toolbar>
<mat-expansion-panel class="mat-navbar-collapse d-md-none w-100">

</mat-expansion-panel>
<!-- END Header Style 1 -->
