<main class="mainContainer">
  <div class="container whiteBg">
    <app-nav></app-nav>
    <section class="tasks-section">
      <h4>Task Management</h4>
      <mat-form-field>
        <mat-label>Client</mat-label>
        <mat-select (selectionChange)="onChangeClient($event)">
          <mat-option *ngFor="let client of clients" [value]="client.value">
            {{ client.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group
        aria-label="Select an option"
        class="ml-2"
        [color]="'primary'"
        (change)="radioChange($event)"
      >
        <mat-radio-button value="Open" checked>Open</mat-radio-button>
        <mat-radio-button value="Closed">Closed</mat-radio-button>
      </mat-radio-group>

      <div class="mat-elevation-z8" *ngIf="clientData.length">
        <div class="header">{{ selectedRadio }} Tasks</div>
        <div class="button-row align-right" *ngIf="selectedRadio === 'Open'">
          <button mat-raised-button (click)="complete()">Complete</button>
          <button mat-raised-button (click)="claim()">Claim</button>
          <button mat-raised-button (click)="release()">Release</button>
        </div>
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox
                [(ngModel)]="element.selected"
                [color]="'primary'"
                (ngModelChange)="checkboxChange(element)"
              >
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="Task Id">
            <th mat-header-cell *matHeaderCellDef>Task ID</th>
            <td
              mat-cell
              *matCellDef="let element"
              (click)="openTaskDetailDialog(element.taxTaskId)"
            >
              <span style="color: blue;cursor: pointer;">{{ element.taxTaskId }}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Task Status<">
            <th mat-header-cell *matHeaderCellDef>Task Status</th>
            <td mat-cell *matCellDef="let element">{{ element.taxStatus }}</td>
          </ng-container>

          <ng-container matColumnDef="Task Name">
            <th mat-header-cell *matHeaderCellDef>Task Name</th>
            <td mat-cell *matCellDef="let element">{{ element.taxName }}</td>
          </ng-container>

          <ng-container matColumnDef="Task Subject">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="width: 300px !important"
            >
              Task Subject
            </th>
            <td mat-cell *matCellDef="let element" style="width: 300px">
              {{ element.taskSubject }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Task Owner">
            <th mat-header-cell *matHeaderCellDef>Task Owner</th>
            <td mat-cell *matCellDef="let element">{{ element.taskOwner }}</td>
          </ng-container>
          <ng-container matColumnDef="Created Date">
            <th mat-header-cell *matHeaderCellDef>Created Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.taskCreatedDate }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </section>
  </div>
</main>
