<!-- <app-header></app-header> -->

<main class="mainContainer">
  <div class="container whiteBg">
    <form [formGroup]="loginForm">
      <div class="row" style="padding-top: 100px;">
          <div class="col-sm-6 col-md-4" style="padding-top: 15px;">
              <h4>Please provide input credentials</h4>
          </div>
        <div class="col-sm-6 col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input formControlName="username" type="text" matInput placeholder="Broadridge Username" 
            autofocus="false" (focus)="clearMessage()">
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="Broadridge Password">
          </mat-form-field>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage != ''">
        <strong>{{errorMessage}}</strong>
      </div>
      <div class="row mt-2">
        <div class="col text-right">
          <hr class="border-dark">
          <button mat-flat-button (click)="login()" [disabled]="!loginForm.valid">Login</button>
        </div>
      </div>
    </form>
  </div>
</main>

<!-- <app-footer></app-footer> -->
